<!DOCTYPE html>
<html>
  <head>
    <title>Home | Prodmentum</title>
  </head>
  <body>
    <h1>Prodmentum</h1>
    <p>
      Prodmentum a product management application that you'll actually want to use.
    </p>
  </body>
</html>